<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InverterPortName" value="COM3"/>
		<add key="InverterBaudRate" value="2400"/>
		<!-- dont change-->
		<add key="InverterDataBits" value="8"/>
		<!-- dont change-->
		<add key="InverterParity" value="None"/>
		<!-- dont change-->
		<add key="InverterStopBits" value="One"/>
		<!-- dont change-->
		<add key="MQTTClientId" value="voltronic"/>
		<add key="MQTTServer" value="192.168.20.203"/>
		<add key="MQTTPort" value="1883"/>
		<add key="MQTTUsername" value="username"/>
		<add key="MQTTPassword" value="password"/>
		<add key="DebugFlag" value="True"/>
		<!--set True only for testing, check log file for debug data-->
		<add key="ScanDelay" value="2000"/>
		<!--scan time in millisec 1000 = 1 sec-->
	</appSettings>
</configuration>