<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InverterPortName" value="COM3"/>
		<add key="InverterBaudRate" value="2400"/>
		<add key="InverterDataBits" value="8"/>
		<add key="InverterParity" value="None"/>
		<add key="InverterStopBits" value="One"/>
		<add key="MQTTClientId" value="solar"/>
		<add key="MQTTServer" value="192.168.20.203"/>
		<add key="MQTTPort" value="1883"/>
		<add key="MQTTUsername" value="muffy"/>
		<add key="MQTTPassword" value="farida"/>
		<add key="DebugFlag" value="True"/>
	</appSettings>
</configuration>